[Unit]
Description=Start cannable
After=network.target 

[Service]
ExecStart=/usr/local/bin/cannable
Restart=on-failure

[Install]
WantedBy=multi-user.target
