[Unit]
Description=Ares ROS routine start-up
After=network.target

[Service]
Type=forking
ExecStart=/bin/sh -c ". /opt/ros/noetic/setup.sh; . /etc/ros/env.sh; roscore & while ! echo exit | nc localhost 11311 > /dev/null; do sleep 1; done"
Restart=on-failure
User=kaine

[Install]
WantedBy=multi-user.target
