[Unit] 
Description=Start broadcasting from connected cameras.

[Service]
ExecStart=/usr/local/bin/broadcast
Restart=on-failure

[Install]
WantedBy=multi-user.target
