[Unit] 
Description=Ares broadcast routine start-up

[Service]
ExecStart=/usr/local/bin/broadcast
Restart=on-failure

[Install]
WantedBy=multi-user.target
