[Unit]
Description=Ares 2 axis joystick plug-in routine
After=network.target
After=docker.service 

[Service]
ExecStart=/bin/sh -c "docker kill aresjs; docker run --rm --network host --name aresjs -e ROS_MASTER_URI=http://ares:11311 -e ROS_HOSTNAME=$(hostname -s) --device=/dev/input/aresjs ozurover/ares-teleops:latest roslaunch ares_control joy.launch" 
Restart=no